<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Documents/Git Repositories/TestCodeCamp/Konga_Test/src/main/webapp/konga/Konga_Test.java"><classes><class name="src.main.webapp.konga.Konga_Test"><methods><include name="launch_correct_Url"/><include name="successful_login"/><include name="successful_logout"/><include name="invalid_credentials"/><include name="empty_fields"/><include name="empty_username_field"/><include name="empty_password_field"/></methods></class></classes></test></suite>